{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/authstyle.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <h1 class="text-center">Forgot Password</h1>
                <form id="forgot-password-form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#forgot-password-form").on("submit", function(event) {
            event.preventDefault();
            let email = $("#email").val();

            $.ajax({
                url: "/forgot_password",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    "email": email
                }),
                success: function(response) {
                    alert("Password reset email sent.");
                    window.location.href = "/"; // Redirect to the homepage
                },
                error: function(xhr, status, error) {
                    let errorMessage = xhr.responseJSON.error;
                    alert(errorMessage);
                }
            });
        });
    });
</script>
{% endblock %}
