{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/authstyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <h1 class="text-center">Reset Password</h1>
                <form id="reset-password-form" method="POST">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="password_confirm">Confirm New Password</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#reset-password-form").on("submit", function(event) {
                event.preventDefault();
                let password = $("#password").val();
                let password_confirm = $("#password_confirm").val();

                $.ajax({
                    url: "{{ url_for('app.reset_password', token=token, email=email) }}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "password": password,
                        "password_confirm": password_confirm
                    }),
                    success: function(response) {
                        window.location.href = "/login"; // Redirect to login page on successful password reset
                    },
                    error: function(xhr, status, error) {
                        let errorMessage = xhr.responseJSON.error;
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>
{% endblock %}
